# Dependencies
node_modules
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
*.lcov

# Next.js
.next/
out/

# Production
build
dist

# Environment variables
.env
.env*.local

# Vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary folders
tmp/
temp/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml